* {
    font-family: "Nunito"; 
}

@font-face {
    font-family: "Nunito";
    src: url(./font/Nunito-Regular.ttf);
}

@font-face {
    font-family: "Nunito";
    src: url(./font/Nunito-Bold.ttf);
    font-weight: bold;
}

body {
    background-color: #EFF9F9;
    margin: 0;
    padding: 0;
}

button {
    background-color: #EFF9F9;
    color: mediumturquoise;
    font-family: "Nunito";
    font-weight: bold;
    border-radius: 5px;
    border-width: 0px;
    margin-left: 20px;
}

section {
    display: flex;
    justify-content: space-between;

}
 
.banner {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.bannerimage {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100px ;
    min-width: 2000px;
}

section:first-of-type {
    margin-top: 110px;
}

.row{
    background-color: white;
    width: 1000px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.left {
    display: flex;
}

.content {
    margin-top: 15px;
    margin-left: 5px;
   
}
.row h2{
    line-height: 0%;
}

.row h3 {
    color: gray;
}

.row h4{
    color: mediumturquoise ;
    background-color: white;
}

.row.row-featured {
    border-left: 5px solid mediumturquoise;
}


.new {
    margin-left: 20px;
    background-color: mediumturquoise;
    color:  #EFF9F9;
    width: 20px;
    border-radius: 18px;
    padding: 6px;
    height: 4px;
    font-size: 11px;
}

.featured {
    margin-left: 20px;
    background-color: black;
    color: #EFF9F9;
    border-radius: 18px;
    padding: 6px;
    font-size: 11px;
   
}

.row .image img { 
    background-color: white;
    padding: 30px;
}

.tags {
    margin-right: 30px;
}








