* {
    font-family: "Nunito"; 
}

@font-face {
    font-family: "Nunito";
    src: url(./font/Nunito-Regular.ttf);
}

@font-face {
    font-family: "Nunito";
    src: url(./font/Nunito-Bold.ttf);
    font-weight: bold;
}

body {
    background-color: #EFF9F9;
    margin: 0;
    padding: 0;
}


section{
    background-color: white;
    width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

button {
    background-color: #EFF9F9;
    color: mediumturquoise;
    font-family: "Nunito";
    font-weight: bold;
    border-radius: 5px;
    border-width: 0px;
    margin-left: 20px;
}

img { 
    background-color: white;
    padding: 35px;
}

h2{
    line-height: normal;
 
}


h3 {
    color: gray;
    line-height: normal;
}

h4{
    color: mediumturquoise ;
    background-color: white;
}

.banner {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
.bannerimage {
    margin: 0;
    padding: 0;
    width: 100%;
}

.front {
    margin-top: 100px;
    border-left: 5px solid mediumturquoise;

}

.fullstack {
    border-left: 5px solid mediumturquoise;
}

.new {
    margin-left: 20px;
    background-color: mediumturquoise;
    color:  #EFF9F9;
    width: 20px;
    border-radius: 7px;
}

.featured {
    margin-left: 20px;
    background-color: black;
    color: #EFF9F9;
    border-radius: 7px;
}

.tags {
    display: flex;
    justify-content: flex-end;
    width: 50% ;

}





